<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="button.css">
</head>
<body>
<form th:action="@{'http://localhost:3000/confirm/' + ${id}}">
    <p>Xin chào, bạn đã tạo một tài khoản. Xin hãy kích hoạt tài khoản và thiết lập mật khẩu.</p>
    <input type="hidden" name="id" th:value="${id}"> <!-- Nếu cần gửi id -->
    <button style="background-color: blue;
                    color: white;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    text-align: center;
                    font-size: 16px;
                    cursor: pointer;" type="submit">Xác nhận tài khoản
    </button>
</form>


</body>
</html>